# SQL Murder Mystery

**CONTENTS**<a id='toc0_'></a>    
- 1. [Crime scene report research](#toc1_)    
- 2. [Witness identification](#toc2_)    
  - 2.1. [First witness](#toc2_1_)    
  - 2.2. [Second witness](#toc2_2_)    
- 3. [Witness interview](#toc3_)    
- 4. [Murderer identification](#toc4_)    
- 5. [Real villain identification](#toc5_)    
  - 5.1. [Murderer interview](#toc5_1_)    
  - 5.2. [Hired killer identification](#toc5_2_)    

<!-- vscode-jupyter-toc-config
	numbering=true
	anchor=true
	flat=false
	minLevel=2
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## 1. <a id='toc1_'></a>[Crime scene report research](#toc0_)

**REMINDER:** The crime was a murder that occured sometimes on Jan.15,2018 and that it took place in SQL City.

In [ ]:
SELECT *
FROM crime_scene_report
WHERE
    LOWER(type) = 'murder'
    AND LOWER(city) = 'sql city';

This query led to 3 results: 2 murders that occured on Feb.15,2018 and 1 that occured on Jan.15, 2018. We remember that the murder occured sometimes on Jan.15, 2018. Thus, only only result matches...

**Murder description (date: Jan 15., 2018 - type: murder - city SQL: city)**: Security footage shows that there were 2 witnesseses. The first witness lives at the **last house on "Northwestern Dr"**. The second witness, named **Annabel**, lives somewhere on **"Franklin Ave"**.

## 2. <a id='toc2_'></a>[Witness identification](#toc0_)

### 2.1. <a id='toc2_1_'></a>[First witness](#toc0_)

In [ ]:
SELECT *
FROM person
WHERE LOWER(address_street_name) LIKE 'northwestern dr' ORDER BY address_number DESC LIMIT 1;

**TOP:** This query returns only 1 result.
- id = 14887
- name = Morty Shapiro
- license_id = 118009
- address_number = 4919
- address_street_name = Northwester Dr
- ssn = 111564949

### 2.2. <a id='toc2_2_'></a>[Second witness](#toc0_)

In [ ]:
SELECT *
FROM person
WHERE
    LOWER(name) LIKE '%annabel%'
    AND LOWER(address_street_name) LIKE 'franklin ave'

**TOP**: This query also returns only 1 result.
- id = 16371
- name = Annabel Miller
- license_id = 490173
- address_number = 103
- address_street_name = Franklin Ave
- ssn = 318771143

## 3. <a id='toc3_'></a>[Witness interview](#toc0_)

In [ ]:
SELECT p.name, i.transcript
FROM person p
JOIN interview i
    ON p.id = i.person_id
WHERE p.id = 14887 OR p.id = 16371

**Interview transcript of Morty Shapiro (id=14887):** I heard a gunshot and then saw a man run out. He had a **"Get Fit Now Gym"** bag. The **membership number** on the bag started with **"48Z"**. Only **"Gold members**" have these bags. The man got into a **car** with a **plate** that **included "H42W"**.

**Interview transcript of Annabel Miller (id=16371):** I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

The second interview is not very useful. It just confirm that the murderer is a member of the "Get Fit Now Gym".

## 4. <a id='toc4_'></a>[Murderer identification](#toc0_)

In [ ]:
SELECT
    gfnm.id,
    gfnm.person_id,
    gfnm.name,
	dl.gender,
    gfnm.membership_status,
    dl.plate_number
FROM get_fit_now_member gfnm
JOIN person p
    ON gfnm.person_id = p.id
JOIN drivers_license dl
    ON p.license_id = dl.id
WHERE 
    LOWER(gfnm.id) LIKE '48z%'
    AND LOWER(gfnm.membership_status) = 'gold'
	AND LOWER(dl.gender) = 'male'
    AND LOWER(dl.plate_number) LIKE '%h42w%';

**TOP:** This query returns only 1 result, thus the murderer is found!!! It's **Jeremy Bowers**.
- id = 48Z55
- person_id = 67318
- name = Jeremy Bowers
- gender = male
- membership_status = gold
- plate_number = 0H42W2

## 5. <a id='toc5_'></a>[Real villain identification](#toc0_)

### 5.1. <a id='toc5_1_'></a>[Murderer interview](#toc0_)

In [ ]:
SELECT *
FROM interview
WHERE person_id = 67318

**Interview transcript:** I was hired by a **woman** with **lot of money**. I don't know her name but I known she's **around 5'55 (65") and 5'7 (67")**. She has **red hair** and she drives a **Tesla Model S**. I know that she attended the **SQL Symphony Concert 3 times in December 2017**.

### 5.2. <a id='toc5_2_'></a>[Hired killer identification](#toc0_)

In [ ]:
SELECT
    dl.id,
    p.name,
    p.ssn,
    i.annual_income,
    dl.height,
    dl.hair_color,
    dl.gender,
    dl.car_make,
    dl.car_model,
    fec.event_name,
	fec.date    
FROM drivers_license dl
JOIN person p
    ON dl.id = p.license_id
JOIN income i
    ON p.ssn = i.ssn
JOIN facebook_event_checkin fec
    ON fec.person_id = p.id
WHERE
    dl.height BETWEEN 65 AND 67
    AND LOWER(dl.hair_color) = 'red'
    AND LOWER(dl.car_make) = 'tesla'
    AND LOWER(dl.car_model) LIKE '%s%'
    AND LOWER(fec.event_name) = 'sql symphony concert';

**TOP:** This query returns only 1 result, thus the real villain is found!!! The hired killer is **Amanda Priestly**.